.login-form{
    padding: 1rem 2rem 2rem 0rem;
    text-align: left;
}
.row > h2{
    color:white;
    font-size: 1.5em;
    color: #1a315a;
    padding-top: 4rem;
    margin: auto;
    font-weight: 600;
}
.mat-flat-button{
   background-color: #0d1d2a;
}
.mat-flat-button:disabled{
  background-color: #6c92b3;
}

 input[type="email"],
 input[type="password"] {
    width: 100%;
    /* border-radius: 5px; */
    margin-bottom: 0.5rem;
    padding: 12px;
    color: black;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: none;
    font-size: 1.2rem;
    /* background: rgba(4, 4, 4, 0.61); */
    background: none;
    border: 1px solid #8080807a;
    /* box-shadow: 1px 5px 12px 0px rgba(0, 0, 0, 0.46);   */
}

input[type="email"]:valid {
  border-color: green;
}

input[type="email"]:valid ~ .input-validation::before {
  content: "✓";
  color: green;
}


input[type="password"]:valid {
  border-color: green;
}

input[type="password"]:valid ~ .input-validation::before {
  content: "✓";
  color: green;
}

/* Checkbox */
.mat-checkbox-layout .mat-checkbox-label {
  color: #122240 !important;
}
.custom-control-label{
  padding-left: 1rem;
  color: #122240 !important;
  font-weight: 500 !important;
}

form{
    padding: 1em 0 0 0;
}
.mat-error{
  font-size: 1.1rem;
}
mat-form-field{
	width: 100%;
}





