<div class="login-form">
  <div class="row">
    <p style="color: #122240;">Bitte loggen sie sich in lhren Account ein</p>
    <!-- <h5 style="font-size: 1.8rem; padding-top: 1rem;color: #122240;">Please log into your account </h5> -->
  </div>
  <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <div style=" margin-bottom: 20px;">
            <input type="email" placeholder="E-Mail/Benutzername " formControlName="email" required>
            <mat-error *ngIf="isControlHasError('email','required')">
              Please enter your email address
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','pattern')">
              Enter valid email
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div style=" margin-bottom: 15px;"> <input type="password" placeholder="Bestätigungscode (confirmation code)" formControlName="password"
              required />
            <mat-error *ngIf="isControlHasError('password','required')">
              Bestätigungscode is required
            </mat-error>
            <mat-error *ngIf="isControlHasError('password','minlength')">
              Bestätigungscode must be atleast 6 characters
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- <mat-checkbox class="example-margin" >Check me!</mat-checkbox> -->
            <input type="checkbox" class="custom-control-input" (change)="checkBox($event,'terms')" id="customCheck2" formControlName="terms">
            <a href="../terms-service" target="_blank">
              Accept terms of use
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- <mat-checkbox class="example-margin" >Check me!</mat-checkbox> -->
            <input type="checkbox" class="custom-control-input" (change)="checkBox($event,'privacy')" id="customCheck2" formControlName="privacy">
            <a href="../privacy-policy" target="_blank">
              Accept privacy statement 
            </a>
        </div>
      </div>
      <div class="row" style="margin-top: 2rem;">
        <div class="col-xs-6 col-sm-6">
          <div style=" margin-bottom: 10px;">
            <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Mich erinnern </label>
          </div>
        </div>
        <!-- <div class="col-xs-6 col-sm-6 ">
          <div style=" margin-bottom: 10px;">
            <a [routerLink]="['/forgot-pwd']" style="cursor: pointer; text-decoration: underline;">Bestätigungscode vergessen?</a>
          </div>
        </div> -->
      </div>
      <div class="row" style="padding-top: 10px;">
        <div class="col-12">
          <p style="font-size: 14px;color: orangered;">
            Bitte vermeiden Sie den Internet Explorer als Browser, sondern verwenden Sie Chrome oder die aktuelle Version von Microsoft Edge
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-4">
          <button mat-flat-button style="padding:0 20px; color: white; background-color:#122240 ;" [disabled]="loginForm.invalid" >
            <mat-icon *ngIf="rescom">
              <mat-spinner diameter="20">
              </mat-spinner>
            </mat-icon>&nbsp; Anmeldung
          </button>
        </div>
        <!-- <div class="col-xs-8 col-sm-8 text-right">
          <a href="https://www.head2toebayer.com/register/" style="font-size: 1.3rem">Sie haben noch kein Konto? <b
              style="text-decoration: underline; ">Registrieren</b></a>
        </div> -->
      </div>
    </form>
  </div>
</div>
