
<div class="bg-img">
    <div class="overlay"></div>
    <!-- <video playsinline="playsinline" autoplay="autoplay" [muted]="true" loop="loop" class="w-100 h-100">
        <source src="assets/media/entranceVideo.mp4" type="video/mp4" />
    </video> -->
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-6">
                <div class="lgx-logo">
                    <img src="assets/media/logo.png" height="86px">
                </div>
            </div>
            <div class="col-6">
                <div  class="lgx-cart-area" style="margin-top: -6%;float: right;margin-right: 4%;" (click)="openLoginModal()" >
                        <button  mat-flat-button  style="padding:6px 45px; background-color: #1c3f5d;; color: white;
                        box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);">Anmeldung</button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 4rem; padding-left: 3rem;">
            <div class="col-sm-12">
                <h1 style="color: #CBEA34;font-size: 36px;font-family: Arial;">3. Forschungswerkstatt  Netzhaut  2021</h1>
                <p style="color: #CBEA34;font-size: 24px;font-family: Arial;"><b>23.-24.4.2021</b></p>
            </div>
        </div>
    </div>
</div>
<!-- LogIn Modal -->
<div class="modal fade fadeInDown" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="padding-top: 4rem;">
                    <div class="col-xs-12">
                        <p class="heading">Willkommen</p>
                        <p  class="heading">3. Forschungswerkstatt Netzhaut 2021 </p>
                        <p  class="heading">23.-24.4.2021</p>
                    </div>
                </div>
                <div class="row main-content text-center">
                    <div class="col-sm-5 text-center company__info">
                        <div class="col-sm-12 mt-4"> <img src="assets/media/search.png" style=" height:180px;" ></div>
                        <!-- <div class="col-sm-12"><img src="assets/media/radio.png" style="height: 40px;
                            margin-top: 2.5rem;"></div> -->
                            <!-- <div class="col-sm-12" style="margin-top: 2rem;">
                                <h1 style="text-align: left; font-size: 1.8rem; color: white;">Head to Toe 
                                    <img src="assets/media/human.png" style="height:205px;"> Virtual</h1>
                            </div> -->
                            <div class="col-sm-12" style="margin-top: 12rem;">
                                <p style="font-size: 1.1rem; color: black;">© 2021 Bayer</p>
                            </div>
                    </div>
                    <div class="col-sm-7" style="background: white;">
                        <a class="close" data-dismiss="modal" (click)="close()"></a>
                        <router-outlet></router-outlet>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>





  <!-- The Modal -->
  <div class="modal fade fadeInDown" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>