.mainattendee {
    position: relative;
    background-color: white;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  .bg-img {
    background-image: url("../../assets/media/banner.png");
    background-color: #cccccc;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 25rem;
  }
  
  /* LOgo */
  .lgx-logo{
    padding: 3rem 0 0 4rem;
  }

  .heading{
    font-size: 1.3em;
    color: #1a315a;
    margin: auto;
    font-weight: 600;
    padding-left: 3rem;
}
  /* .mainattendee video {
    position: absolute;
    top: 70%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  } */
  
  .mainattendee .container {
    position: relative;
    z-index: 2;
  }
  
  .mainattendee .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    /*.mainattendee {
      background: url('../../assets/img/venueBackground.png');
    }*/
    /* .mainattendee video {
      display: none;
    } */
  }
  
  .parsley-errors-list{
    color: red !important;
  }
  
  .fa-spin{
    color:#ec398b;
  }  
  
  
  /* BASIC */
  
  
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a {
    /*color: #92badd;*/
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 25px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #1b273d;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=reset]  {
    background-color: darkorchid !important;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 10px 10px 05px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  
  input[type=button]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #1b273d;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
    cursor: pointer;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  .modal-header{
    border-bottom : none !important
  }

 
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:12%;
  }
  

  
  .close {
    position: absolute;
    right: 12px;
    top: -5em;
    width: 30px;
    height: 30px;
    opacity: 0.6;
    transition: transform 0.3s;
  
  }
  .close:hover {
    opacity: 1;
    transform: rotate(90deg);
  
  }
  
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: black;
  
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
  .modal-lg{}
  
   @media (min-width: 992px){
    .modal-lg {
      width: 730px;
    }
   }
  

  
  video {
      position: absolute;
      height: 100vh;
      width: 100%;
      object-fit: fill;
  }
  
  .lgx-btn-red {
      background: #ec398b;
  }
  .lgx-btn {
      overflow: hidden;
      border: none;
      text-align: center;
      cursor: pointer;
      /* text-transform: uppercase; */
      outline: none;
      position: relative;
      color: black;
      font-weight: 400;
      font-size: 14px;
      border-radius: 25px;
      margin: 0 auto;
      font-family: 'Oswald', sans-serif;
      padding: 0.5rem 3rem;
      display: inline-block;
      letter-spacing: .1rem;
      background: #95e630;
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
      -moz-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
      box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
  }
  
  .iti__flag {background-image: url('../../assets/media/flags.png');}
  
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url('../../assets/media/flags@2x.png');}
  }
  
  
  
  
  .my-2{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mb-2{
    margin-bottom: 10px;
  }
  .p-2{
    padding: 10px;
  }
  
  mat-form-field{
    width: 100%;
  }
  .pl-0{
    padding-left: 0;
  }
  
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }
 
  .row > h2{
    color:white;
  }

  .company__info{
    margin-top: 3rem;
  }
  .company_title{
  font-family: cursive;
  }
  
  .modal-content{
    background: white;
  }
  .modal-body{
    padding: 0 15px;
  }

  .bottom-text{
    position: absolute;
    bottom: 0;
  } 
  
  