.login-form{
    padding: 2.5rem;
    text-align: left;
    padding-bottom: 23rem;
}
.row > h2{
    color:white;
    font-size: 1.5em;
    color: #1a315a;
    padding-top: 4rem;
    margin: auto;
    font-weight: 600;
}

.mat-flat-button{
    background-color: #0d1d2a;
 }
 .mat-flat-button:disabled{
   background-color: #6c92b3;
 }
 
 input[type="email"],
 input[type="password"] {
    width: 100%;
    /* border-radius: 5px; */
    margin-bottom: 0.5rem;
    padding: 12px;
    color: black;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: none;
    font-size: 1.2rem;
    background: none;
    border: 1px solid #8080807a;
}



form{
    padding: 2em 0 0 0;
}
.mat-error{
  font-size: 1.1rem;
}
mat-form-field{
	width: 100%;
}

