<div class="login-form" style="height:40em;">
    <div class="row">
      <h5 style="font-size: 1.8rem; padding-top: 1rem;color: #122240;;">To reset password enter your registered email ID</h5>
    </div>
    <div class="row">
        <form [formGroup]="Attendee_Forgot_Password_Form" autocomplete="off" class="p-2">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-12">
                    <div style=" margin-bottom: 40px;">
                        <input type="email" placeholder="Email/Username " formControlName="forgotEmail" required>
                        <mat-error *ngIf="isControlHasError('forgotEmail','required')">
                          Please enter your email address
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('forgotEmail','pattern')">
                          Enter valid email
                        </mat-error>
                      </div>
                </div>
                <div class="col-xs-5 col-5">
                    <button mat-flat-button style="padding:0 20px;color: white;" 
                    [disabled]="Attendee_Forgot_Password_Form.invalid"
                    (click)="forgotMailSend()">
                        <mat-icon *ngIf="rescom">
                          <mat-spinner diameter="20">
                          </mat-spinner>
                        </mat-icon>&nbsp; Submit</button>
                </div>
                <div class="col-xs-7 col-7" style="padding-top: 1rem;">
                    <a [routerLink]="['/']" style="font-size: 1.3rem;"><b style="text-decoration: underline;">Anmeldung</b></a>
                </div>
            </div>
        </form>
    </div>
  </div>