
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-container {
  position: fixed;
  z-index: 1051;
}

.loading-app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  vertical-align: middle;
}