
<div class="bg-img">
  <div class="overlay"></div>
    <!-- <video playsinline="playsinline" autoplay="autoplay" [muted]="true" loop="loop" class="w-100 h-100">
        <source src="assets/media/entranceVideo.mp4" type="video/mp4" />
    </video> -->
    <div class="container" style="padding-top: 10%">
        <div class="row main-content text-center">
            <div class="col-xs-6 col-sm-6 text-center company__info">
                <div class="col-sm-12" style="margin-top: 2rem;"> <img src="assets/media/Bayer_Cross_1_.svg" style=" height:61px;"></div>
                <!-- <div class="col-sm-12"><img src="assets/media/radio.png" style="height: 40px;
                    margin-top: 2.5rem;"></div> -->
                    <div class="col-sm-12" style="margin-top: 2rem;">
                            <img src="assets/media/search.png" style="height:190px;">
                    </div>
                    <div class="col-sm-12" style="margin-top:3rem">
                        <p style="font-size: 1.1rem; color: black;">© 2021 Bayer</p>
                    </div>
            </div>
            <div class="col-xs-12 col-sm-6 login_form ">
                <div class="login-form">
                    <div class="row">
                      <h5 style="font-size: 1.8rem; padding-top: 1rem;color: #122240;;">Bitte ändern Sie Ihren Bestätigungscode</h5>
                    </div>
                    <div class="row">
                      <form [formGroup]="Attendee_Change_Password_Form" autocomplete="off" class="p-2">
                        <div class="row">
                  
                          <div class="col-xs-12 col-md-12 col-12">
                            <div style=" margin-bottom: 40px;"> <input type="password" placeholder="Password" formControlName="password"
                                required />
                              <mat-error *ngIf="isControlHasError('password','required')">
                                Password is required
                              </mat-error>
                              <mat-error *ngIf="isControlHasError('password','minlength')">
                                Password must be atleast 6 characters
                              </mat-error>
                            </div>
                          </div>
                  
                          <div class="col-xs-12 col-md-12 col-12">
                              <div style=" margin-bottom: 40px;"> 
                                  <input type="password" placeholder="Confirm Password" formControlName="confirm_password"
                                  required />
                                  <mat-error *ngIf="isControlHasError('confirm_password','required')">
                                      Confirm Password is
                                      required
                                  </mat-error>
                                  <mat-error *ngIf="isControlHasError('confirm_password','notSame')">
                                      Password & Confirm Password
                                      should Match
                                  </mat-error>
                              </div>
                            </div>
                  
                          <div class="col-xs-7 col-7">
                            <button mat-flat-button style="padding:0 20px; color: white;"
                              [disabled]="Attendee_Change_Password_Form.invalid" (click)="changePassword()">
                              <mat-icon *ngIf="rescom">
                                <mat-spinner diameter="20">
                                </mat-spinner>
                              </mat-icon>&nbsp; einreichen
                            </button>
                          </div>
                          <div class="col-xs-5 col-5" style="padding-top: 1rem;">
                            <a [routerLink]="['/login']" style="font-size: 1.3rem;"><b
                                style="text-decoration: underline;">Anmeldung</b></a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="login-form">
    <div class="row">
      <h2>Welcome to Head to Toe Virtual </h2>
      <h5 style="font-size: 1.8rem; padding-top: 1rem;color: #122240;;">Please change your password</h5>
    </div>
    <div class="row">
      <form [formGroup]="Attendee_Change_Password_Form" autocomplete="off" class="p-2">
        <div class="row">
  
          <div class="col-xs-12 col-md-12 col-12">
            <div style=" margin-bottom: 40px;"> <input type="password" placeholder="Password" formControlName="password"
                required />
              <mat-error *ngIf="isControlHasError('password','required')">
                Please enter your correct address
              </mat-error>
              <mat-error *ngIf="isControlHasError('password','minlength')">
                Password must be atleast 6 characters
              </mat-error>
            </div>
          </div>
  
          <div class="col-xs-12 col-md-12 col-12">
              <div style=" margin-bottom: 40px;"> 
                  <input type="password" placeholder="Confirm Password" formControlName="confirm_password"
                  required />
                  <mat-error *ngIf="isControlHasError('confirm_password','required')">
                      Confirm Password is
                      required
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('confirm_password','notSame')">
                      Password & Confirm Password
                      should Match
                  </mat-error>
              </div>
            </div>
  
          <div class="col-xs-5 col-5">
            <button mat-flat-button style="padding:0 20px; background-color: #1c3f5d;; color: white;"
              [disabled]="Attendee_Change_Password_Form.invalid" (click)="changePassword()">
              <mat-icon *ngIf="rescom">
                <mat-spinner diameter="20">
                </mat-spinner>
              </mat-icon>&nbsp; Submit
            </button>
          </div>
          <div class="col-xs-7 col-7" style="padding-top: 1rem;">
            <a [routerLink]="['/login']" style="font-size: 1.3rem;">Already a member? <b
                style="text-decoration: underline;">Login</b></a>
          </div>
        </div>
      </form>
    </div>
  </div> -->
  