.main-content {
  width: 60%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
  margin: auto;
  display: flex;
}

.mat-flat-button{
  background-color: #0d1d2a;
}
.mat-flat-button:disabled{
 background-color: #6c92b3;
}

.bg-img {
  background-image: url("../../assets/media/banner.png");
  background-color: #cccccc;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 25rem;
}


.company__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: #ccc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.row>h2 {
  color: white;
  font-size: 1.4em;
  color: #1a315a;
  margin: auto;
  font-weight: 600;
}

.company_title {
  font-family: cursive;
}

.login_form {
  background: white;
  box-shadow: 0 0px 10px rgba(255, 255, 255, .3);
}

@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }

  .company__info {
    display: none;
  }
  .row>h2{
    font-size: 1.1em;
  }
}

@media screen and (min-width: 642px) and (max-width:800px) {
  .main-content {
    width: 70%;
  }
}

.login-form {
  padding: 2.5rem;
  text-align: left;
  padding-bottom: 6rem;
}



input[type="email"],
input[type="password"] {
  width: 100%;
  /* border-radius: 5px; */
  margin-bottom: 0.5rem;
  padding: 12px;
  color: black;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: none;
  font-size: 1.2rem;
  /* background: rgba(4, 4, 4, 0.61); */
  background: none;
  border: 1px solid #8080807a;
  /* box-shadow: 1px 5px 12px 0px rgba(0, 0, 0, 0.46);   */
}

form {
  padding: 2em 0 0 0;
}

.mat-error {
  font-size: 1.1rem;
}

mat-form-field {
  width: 100%;
}

video {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: fill;
}
